<!DOCTYPE html>
<html>
<head>
    <link href="../../../../../assets/whistlepost.bundle.css" rel="stylesheet">
</head>
<body>

<article class="feature-article link wnews-article"
         data-th-fragment="summary(article)">
    <h1 data-th-text="${article.title}">[TITLE]</h1>
    <p class="date-published" data-th-text="${article.datePublished}">[DATE]</p>

    <div data-th-if="${not #strings.isEmpty(article.image)}">
        <img class="pure-img" data-th-src="${article.image}" data-th-alt="|${article.title} image|"/>
    </div>

    <p data-th-text="${article.abstract}">[SUMMARY]</p>
    <a data-th-href="|${resolver.map(request, article.resource.path)}.html|"><span class="link"></span></a>
</article>

<article data-th-fragment="full(article)">
    <h1 data-th-text="${article.title}">[TITLE]</h1>
    <p class="date-published" data-th-text="${article.datePublished}">[DATE]</p>

    <div data-th-if="${not #strings.isEmpty(article.image)}">
        <img class="pure-img" data-th-src="${article.image}" data-th-alt="|${article.title} image|"/>
    </div>

    <div data-th-utext="${article.text}">
    </div>
</article>

<div class="wp-layout dynamic"
     data-th-fragment="summary-list(articles)" data-th-with="exclude=${exclude} ?: null">
<!--    <p data-th-text="${list.numberOfItems}"></p>-->
    <th:block data-th-each="article : ${articles.getSortedList()}">
        <th:block data-th-unless="${exclude && article.resource.path == exclude.resource.path}">
            <div data-th-replace=":: summary(${article})">
            </div>
        </th:block>
    </th:block>
</div>

<div data-th-fragment="link-list(list, title)">
    <h3>
        <a data-th-href="|${resolver.map(request, list.listResource.parent.path)}.html|"><span data-th-utext="${title}">[COLUMN]</span></a>
    </h3>
    <ul style="list-style:none; padding-left:0;">
        <th:block data-th-each="article : ${list.getSortedList()}">
            <li style="margin-bottom:5px;">
                <a data-th-href="|${resolver.map(request, article.resource.path)}.html|"><span data-th-utext="${article.title}">[ARTICLE]</span></a>
            </li>
        </th:block>
    </ul>
</div>

</body>
</html>
