<!DOCTYPE html>
<html>
<head>
    <link href="../../../../../assets/whistlepost.bundle.css" rel="stylesheet">
</head>
<body>

<div data-th-fragment="banner(image)">
    <img class="pure-img" src="https://dummyimage.com/1400x300/aaa/fff" alt="Placeholder banner image"
         data-th-src="${image.source}" data-th-alt="${image.altText}" data-th-title="${image.title}">
</div>

<div data-th-fragment="gallery(images)">
    <th:block data-th-each="image : ${images.shuffledList}">
        <img class="pure-img" src="https://dummyimage.com/300x200/aaa/fff" alt="Placeholder image"
             data-th-src="${image.image}" data-th-alt="${image.title}" data-th-title="${image.title}">
    </th:block>
</div>

</body>
</html>
