body {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

.wp-navbar-header {
    /* background-image: url("/assets/wp-pure/images/logo.png"); */
    background-size: 42px 42px;
    background-repeat: no-repeat;
}

.wp-navbar-brand {
    padding-left: 65px;
}

.wp-navbar-link-em a {
    color: crimson !important;
}

.wp-list-nostyle {
    list-style: none;
    padding-left: 0;
}

a.page-section {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

article {
    padding:20px;
    font-family: 'Noto Serif', serif !important;
    position:relative;
    height: 100%;
}

article.link:hover {
    background-color: #efefef;
}

article span.link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8,
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}

.wp-logo-bg {
    /* background-image: url("/assets/wp-pure/images/logo-60.png"); */
    background-size: 48px;
    background-repeat: no-repeat;
    padding-left: 70px;
}


@media only screen and (min-width: 768px) {

    body {
        padding: 20px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        /*padding-left: 0 !important;*/
        font-size: 1.2em;
    }

    .wnews-article img {
        float: right;
        width: 50%;
        height: auto;
        max-width:500px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .wnews-article .sidebar {
        clear: right;
        float: right;
        width: 48%;
    }

    aside#sidebar-ads {
        max-width: 18vw;
    }

    section#banner-ads {
        max-height: 10vh;
    }
}

.pure-menu-link {
    font-size: larger;
    padding: .5em .5em !important;
}
